.idea
 # =========================
 # Python
 # =========================
 __pycache__/
 *.pyc
 *.pyo
 *.pyd
 *.egg-info/
 *.egg
 dist/
 build/

 # virtual environments
 venv/
 .venv/
 env/

 # =========================
 # CMake
 # =========================
 CMakeFiles/
 CMakeCache.txt
 cmake_install.cmake
 Makefile

 # =========================
 # IDEs
 # =========================
 .idea/
 .vscode/
 *.code-workspace

 # =========================
 # OS
 # =========================
 .DS_Store
 Thumbs.db

 # =========================
 # Logs
 # =========================
 *.log

 # =========================
 # Secrets / configs
 # =========================
 .env
 *.local.yaml
/ros2_ws/log/
/ros2_ws/install/
/ros2_ws/build/
