<?xml version="1.0"?>
<robot name="fendt" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot_description)/urdf/fendt/common_properties.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/fendt/wheels.xacro"/>

    <material name="grey"><color rgba="0.7 0.7 0.7 1.0"/></material>
    <material name="black"><color rgba="0.1 0.1 0.1 1.0"/></material>
    <material name="green"><color rgba="0.0 1.0 0.0 1.0"/></material>
    <material name="red"><color rgba="1.0 0.0 0.0 1.0"/></material>

    <!-- ===== Dimensions ===== -->
    <xacro:property name="full_length" value="4.119"/>
    <xacro:property name="full_width" value="2.186"/>
    <xacro:property name="full_height" value="2.620"/>
    <xacro:property name="wheelbase" value="2.370"/>
    <xacro:property name="wheel_track" value="1.660"/>
    <xacro:property name="bottom_clearance" value="0.475"/>
    <xacro:property name="half_wheelbase" value="${wheelbase/2.0}"/>
    <xacro:property name="wheel_y_distance" value="${wheel_track/2.0}"/>

    <xacro:property name="wheel_rad_front" value="0.59"/>
    <xacro:property name="wheel_width_f" value="0.44"/>
    <xacro:property name="front_steer_limit" value="0.6108652382"/>
    <xacro:property name="axle_rad_front" value="0.13"/>
    <xacro:property name="axle_len_front" value="${wheel_track-wheel_width_f}"/>

    <xacro:property name="wheel_rad_rear" value="0.78"/>
    <xacro:property name="wheel_width_r" value="0.54"/>
    <xacro:property name="axle_rad_rear" value="0.13"/>
    <xacro:property name="axle_len_rear" value="${wheel_track-wheel_width_r}"/>

    <xacro:property name="box_len_chassis" value="${wheelbase + 2*wheel_rad_front - 0.20}"/>
    <xacro:property name="box_width_chassis" value="0.50"/>
    <xacro:property name="box_height_chassis" value="0.50"/>

    <xacro:property name="axle_to_front_f_body" value="${wheel_rad_front}"/>
    <xacro:property name="box_len_f_body" value="${axle_to_front_f_body + half_wheelbase}"/>
    <xacro:property name="box_width_f_body" value="0.60"/>
    <xacro:property name="box_height_f_body" value="0.60"/>

    <xacro:property name="axle_to_r_body" value="0.20"/>
    <xacro:property name="box_len_r_body" value="${axle_to_r_body + half_wheelbase}"/>
    <xacro:property name="box_width_r_body" value="${full_width-2*wheel_width_r-0.10}"/>
    <xacro:property name="box_height_r_body" value="${full_height-bottom_clearance - chassis_origin_z}"/>

    <xacro:property name="weight_f_body" value="150"/>
    <xacro:property name="weight_r_body" value="250"/>
    <xacro:property name="weight_chassis" value="3000"/>
    <xacro:property name="wheel_weight_f" value="100"/> <!-- x2 -->
    <xacro:property name="weight_f_axle" value="100"/>
    <xacro:property name="wheel_weight_r" value="150"/>
    <xacro:property name="weight_r_axle" value="150"/> <!-- x2 -->
    <xacro:property name="total_weight" value="${weight_f_body+weight_r_body+weight_chassis+2*(wheel_weight_f + wheel_weight_r)}"/> <!-- 4300 -->


    <xacro:property name="base_link_origin_z" value="${bottom_clearance}"/>
    <xacro:property name="chassis_origin_z" value="${box_height_chassis/2.0}"/>

    <xacro:property name="rear_axle_origin_x" value="${-half_wheelbase}"/>
    <xacro:property name="rear_axle_origin_z" value="${wheel_rad_rear - (bottom_clearance+chassis_origin_z)}"/>

    <xacro:property name="front_axle_origin_x" value="${half_wheelbase}"/>
    <xacro:property name="front_axle_origin_z" value="${wheel_rad_front - (bottom_clearance+chassis_origin_z)}"/>

    <xacro:property name="rear_body_origin_x" value="${-box_len_r_body/2.0}"/>
    <xacro:property name="rear_body_origin_z" value="${box_height_r_body/2.0}"/>

    <xacro:property name="front_body_origin_x" value="${box_len_f_body/2.0}"/>
    <xacro:property name="front_body_origin_z" value="${box_height_f_body/2.0 + chassis_origin_z}"/>


    <xacro:property name="laser_origin_z" value="${full_height - bottom_clearance + 0.15}"/>
    <xacro:property name="gnss_origin_z" value="${full_height - bottom_clearance}"/>

    <link name="base_footprint"/>

    <link name="base_link"/>
    <joint name="base_link_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 ${base_link_origin_z}" rpy="0 0 0"/>
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry><box size="${box_len_chassis} ${box_width_chassis} ${box_height_chassis}"/></geometry>
            <material name="grey"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry><box size="${box_len_chassis} ${box_width_chassis} ${box_height_chassis}"/></geometry>
        </collision>
        <xacro:box_inertia
                m="${weight_chassis}"
                x="${box_len_chassis}"
                y="${box_width_chassis}"
                z="${box_height_chassis}"
                o_xyz="0 0 0"
                o_rpy="0 0 0"/>
    </link>

    <joint name="base_to_chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 ${chassis_origin_z}" rpy="0 0 0"/>
    </joint>

    <joint name="base_to_rear_joint" type="fixed">
        <parent link="chassis"/>
        <child link="rear_body"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="rear_body">
        <visual>
            <origin xyz="${rear_body_origin_x} 0 ${rear_body_origin_z}"/>
            <geometry><box size="${box_len_r_body} ${box_width_r_body} ${box_height_r_body}"/></geometry>
            <material name="red"/>
        </visual>

        <collision>
            <origin xyz="${rear_body_origin_x} 0 ${rear_body_origin_z}"/>
            <geometry><box size="${box_len_r_body} ${box_width_r_body} ${box_height_r_body}"/></geometry>
        </collision>

        <xacro:box_inertia
                m="${weight_r_body}"
                x="${box_len_r_body}"
                y="${box_width_r_body}"
                z="${box_height_r_body}"
                o_xyz="${rear_body_origin_x} 0 ${rear_body_origin_z}"
                o_rpy="0 0 0"/>
    </link>

    <link name="front_body">
        <visual>
            <origin xyz="${front_body_origin_x} 0 ${front_body_origin_z}"/>
            <geometry><box size="${box_len_f_body} ${box_width_f_body} ${box_height_f_body}"/></geometry>
            <material name="green"/>
        </visual>

        <collision>
            <origin xyz="${front_body_origin_x} 0 ${front_body_origin_z}"/>
            <geometry><box size="${box_len_f_body} ${box_width_f_body} ${box_height_f_body}"/></geometry>
        </collision>

        <xacro:box_inertia
                m="${weight_f_body}"
                x="${box_len_f_body}"
                y="${box_width_f_body}"
                z="${box_height_f_body}"
                o_xyz="${front_body_origin_x} 0 ${front_body_origin_z}"
                o_rpy="0 0 0"/>
    </link>

    <joint name="base_to_front_joint" type="fixed">
        <parent link="chassis"/>
        <child link="front_body"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="rear_axle">
        <visual>
            <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
            <geometry><cylinder radius="${axle_rad_rear}" length="${axle_len_rear}"/></geometry>
            <material name="grey"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
            <geometry><cylinder radius="${axle_rad_rear}" length="${axle_len_rear}"/></geometry>
        </collision>
        <xacro:cylinder_inertia
                m="${weight_r_axle}"
                r="${axle_rad_rear}"
                l="${axle_len_rear}"
                o_xyz="0 0 0"
                o_rpy="0 0 0"/>
    </link>

    <joint name="rear_axle_joint" type="fixed">
        <parent link="chassis"/>
        <child link="rear_axle"/>
        <origin xyz="${rear_axle_origin_x} 0 ${rear_axle_origin_z}" rpy="0 0 0"/>
    </joint>

    <link name="front_axle">
        <visual>
            <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
            <geometry><cylinder radius="${axle_rad_front}" length="${axle_len_front}"/></geometry>
            <material name="grey"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
            <geometry><cylinder radius="${axle_rad_front}" length="${axle_len_front}"/></geometry>
        </collision>
        <xacro:cylinder_inertia
                m="${weight_f_axle}"
                r="${axle_rad_front}"
                l="${axle_len_front}"
                o_xyz="0 0 0"
                o_rpy="0 0 0"/>
    </link>

    <joint name="front_axle_roll_joint" type="fixed">
        <parent link="chassis"/>
        <child link="front_axle"/>
        <origin xyz="${front_axle_origin_x} 0 ${front_axle_origin_z}" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.1745329252" upper="0.1745329252" effort="3000.0" velocity="0.5"/>
        <dynamics damping="80.0" friction="8.0"/>
    </joint>

    <!-- ===== Wheels ===== -->
    <xacro:wheel name="rear_left_wheel"  parent="rear_axle"  x="0.0" y="${wheel_y_distance - (wheel_width_r/2.0)}" z="0.0" radius="${wheel_rad_rear}" width="${wheel_width_r}" mass="${wheel_weight_r}" axle_radius="${axle_rad_rear}" pivot_y_offset="${wheel_width_r/2.0}"/>
    <xacro:wheel name="rear_right_wheel" parent="rear_axle"  x="0.0" y="${-wheel_y_distance + (wheel_width_r/2.0)}" z="0.0" radius="${wheel_rad_rear}" width="${wheel_width_r}" mass="${wheel_weight_r}" axle_radius="${axle_rad_rear}" pivot_y_offset="${-wheel_width_r/2.0}"/>

    <xacro:steerable_wheel name="front_left_wheel"  parent="front_axle" x="0.0" y="${wheel_y_distance - (wheel_width_f/2.0)}" z="0.0" radius="${wheel_rad_front}" width="${wheel_width_f}" mass="${wheel_weight_f}" steer_limit="${front_steer_limit}" axle_radius="${axle_rad_front}" pivot_y_offset="${wheel_width_f/2.0}"/>
    <xacro:steerable_wheel name="front_right_wheel" parent="front_axle" x="0.0" y="${-wheel_y_distance + (wheel_width_f/2.0)}" z="0.0" radius="${wheel_rad_front}" width="${wheel_width_f}" mass="${wheel_weight_f}" steer_limit="${front_steer_limit}" axle_radius="${axle_rad_front}" pivot_y_offset="${-wheel_width_f/2.0}"/>


    <!-- ===== Sensors ===== -->
    <link name="laser_frame"/>
    <joint name="laser_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_frame"/>
        <origin xyz="0.0 0.0 ${laser_origin_z}" rpy="0 0 0"/>
    </joint>

    <link name="imu_link"/>
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="gnss_link"/>
    <joint name="gnss_joint" type="fixed">
        <parent link="base_link"/>
        <child link="gnss_link"/>
        <origin xyz="0.0 0.0 ${gnss_origin_z}" rpy="0 0 0"/>
    </joint>

</robot>

